body    {
    background-image: url(Image/SocialMedia.webp);
    width:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1    {
    color:rgb(15, 15, 15);
    font-size: 400%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: rgba(225, 225, 225, 0.75);
    border-radius: 15px;
}

div    {
    background-color: rgb(225, 225, 225);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1.5%;
    padding: 15px;
    border-radius: 25px;
}

h2      {
    font-size: 350%;
    text-shadow: 3px 3px 8px #301934;
}

h3      {
    font-size: 300%;
    text-align: centre;
    text-shadow: 2px 2px 5px #301934;
}

h4      {
    font-size: 250%;
    text-decoration: underline;
    text-shadow: 1px 1px 3px #301934;
}

h5      {
    font-size: 200%;
    font-weight: 100;
}

h6      {
    font-size: 150%;
    font-weight: 100;
}

h8      {
    font-size: 70%;
    font-weight: 100;
    margin: 1.5%;
}

.left      {
    text-align: left;
    line-height: 230%;
}

.members       {
    line-height: 50%;
    list-style-type: square;
    display: inline-block;
}

p       {
    font-style: italic;
    font-size: 100%;
    font-weight: 100;
    line-height: 100%;
}

.p       {
    font-style: italic;
    font-size: 100%;
    font-weight: 100;
    line-height: 50%;
    display: none;
    padding: 0;
    background-color: #dddddd;
    margin-left: 0;
    margin-right: 0;
}

hr    {
    border-color: rgb(175, 175, 175);
    background-color: rgb(175, 175, 175);
    height: 2px;
    width: 85%;
    border: 5%;
}

footer    {
    color:rgba(15, 15, 15, 0.85);
    margin-left: 25%;
    margin-right: 25%;
    max-width: 800px;
    background-color: rgba(225, 225, 225, 0.65);
    border-radius: 15px;
    margin-top: 4%;
    padding: 0.5px;
}

a {
    display: inline-block;
    padding: 5px;
    background-color: #dddddd;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 115%;
    margin-top: auto;
    margin-bottom: auto;
}

video,  iframe   {
    border-radius: 5px;
    width: 85%;
}

a:link, a:visited {
    color: black;
    text-align: center;
    display: inline-block;
}
  
a:hover, a:active {
    color:blueviolet;
}

a:hover {
    box-shadow: 10px 10px 5px #b19cd9;
    background-color: #301934;
    border-radius: 3px;
}

img {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

.scope2table {
    width: 60%;
}

.scope2img {
    width:20%;
}

.scope4img {
    width:80%;
    margin-left:0;
    margin-right:0;
}

.scope3img {
    width:100%;
    margin-left:0;
    margin-right:0;
}

ul  {
    margin-left: 8%;
    margin-right: 8%;
}

.bullet1    {
    list-style-image: url(Image/panda.png);
}

.bullet2    {
    list-style-image: url(Image/bamboo.png);
    margin-left:15%;
    margin-right:15%;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

td{
    border: 1px solid black;
    padding: 7px;
}

th{
    border: 1px solid black;
    padding: 11px;
}


.direct { 
    width: 50%;
    background-color: rgba(0, 0, 0, 0);
}

 .layout    {
    float: left;
    margin: 0;
    width: 45%;
 }

table    {
    text-align: centre;
    margin-left: auto;
    margin-right: auto;
}

 .week2 {
    margin: 0%;
 }

 .menu, .navigation {
    height: 5%;
    transition: height 1s ease-in;
}

.menu:hover, .navigation:hover {
    height: 10%;
    margin: auto;
}
